.pofix{
    position: fixed;
    background: rebeccapurple;
    color: azure;
    border-radius: 10px;
    padding: 15px;
    bottom: 20px;
    right: 20px;
}
.nofix{
    height: 1500px;
    margin-top: 50px;
}

.sticky-head{
    padding: 15px;
    border-bottom: 2px solid green;
    position: sticky;
    background: rgba(234, 234, 173, 0.161);
    top: 0;
}
.content{
    height: 1500px;
    margin-top: 50px;
    background: linear-gradient(rgb(162, 71, 71),rgb(128, 184, 128));
}