body{
    background-color: bisque;
}
p{
    border-width: 3px;
    border-style: solid;
    /* border-bottom: 4px solid green; */
    border-color: cadetblue;
    border-radius: 5px;
    /* padding: 10px 10px 0px 10px; */

    /* ----shadow------ */
    box-shadow: 10px 5px 20px rgba(141, 141, 232, 0.231);
}
button{
    box-shadow: 2px 2px 8px rgba(0, 0, 255, 0.126);
}